# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file — never commit this
.env

# Python
__pycache__/
*.pyc
*.pyo

# OS
.DS_Store
Thumbs.db
